{% include "layout.html.jinja2" %}
<div class="pt-10 md:px-20 px-5">
    <h3 class="text-xl font-bold">Выберите компанию</h3>
    <p class="text-lg">
        Здесь вы можете составить запрос для оценки имиджа компании, по определенным темам.
    </p>
    <form class="form-control w-full mt-2" method="post">
        {% csrf_token %}
        <label class="mt-4 label px-0">
            <span class="label-text text-xl"> Выберите компанию для оценки: </span>
            <select class="select w-full select-bordered my-2 max-w-md block" name="company">
                <option disabled selected>Компания</option>
                {% for company in companies %}
                    <option value="{{ company.company_id }}">{{ company.company_name }}</option>
                {% endfor %}
            </select>
        </label>
        <button class="btn btn-block w-full btn-outline btn-accent mt-4">Продолжить</button>

    </form>
</div>