{% include "layout.html.jinja2" %}
<div class="pt-10 md:px-20 px-5">
    <h3 class="text-xl font-bold mb-2">Добавление отзывов, для обучения модели</h3>
    <p class="text-lg">
        Здесь вы можете добавить отзывы о компании, которые вы собрали самостоятельно.
        Чем больше вы собрали отзывов, тем лучше будет итоговый результат анализа.
    </p>
    <p class="text-lg mb-4">
        Отзывы должны быть загружены в формате cvs и иметь следующий вид:
    </p>
    <div class="mockup-code">
        <pre><code>"Текст отзыва 1", рейтинг, дата в формате ISO</code></pre>
        <pre><code>"Текст отзыва 2", рейтинг, дата в формате ISO</code></pre>
        <pre><code>...</code></pre>
        <pre><code>"Текст отзыва n", рейтинг, дата в формате ISO</code></pre>
    </div>
    <div class="alert shadow-lg my-2">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 class="stroke-info flex-shrink-0 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>Рейтинг - число в диапазоне от 1 до 5 включительно границы</span>
        </div>
    </div>
    <form method="post" class="mt-4" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="label mt-4">
            <span class="label-text text-xl"> Выберите компанию: </span>
            <select class="select select-bordered w-full max-w-xs" required name="company_id">
                <option disabled selected>Компания</option>
                {% for company in companies %}
                    <option value="{{ company.company_id }}" name="company">{{ company.company_name }}</option>
                {% endfor %}
            </select>
        </label>
        <label class="label mt-4">
            <span class="label-text text-xl"> Название для набора: </span>
            <input type="text" class="input input-bordered w-full max-w-xs" required name="name"/>
        </label>
        <label class="label mt-4">
            <span class="label-text text-xl"> Отзывы о компании: </span>
            <input type="file" name="reviews" class="file-input w-full file-input-bordered max-w-xs" accept=".csv"
                   required/>
        </label>
        <label class="label cursor-pointer mt-4">
            <span class="label-text text-xl">Сделать набор отзывов доступным для всех пользователей</span>
            <input type="checkbox" checked="checked" class="checkbox" name="is_public"/>
        </label>
        <button type="submit" class="btn btn-block mt-10 form-control">Добавить</button>
    </form>
</div>