{% include "layout.html.jinja2" %}
<div class="pt-10 md:px-20 px-5">
    <p class="text-xl">
        Здесь вы можете посмотреть список существующих тем.
        Каждая тема описывается своими включевыми словами, чем больше слов, тем выше шанс определить тему в тексте.
    </p>
    <a href="{% url 'themeadd' %}" class="btn btn-block md:mt-32 mt-10">Добавить тему</a>
    <div class="alert alert-warning shadow-lg md:mt-4 mt-2">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
            </svg>
            <span> <b>Важно:</b> ключевые слова по возможности должны быть записаны с маленькой буквы,
            через запятую, в единственном числе / роде / падеже.
        </span>
        </div>
    </div>
    <div class="overflow-x-auto mt-4 shadow-lg">
        <table class="table table-zebra w-full">
            <thead>
            <tr>
                <th></th>
                <th>Название темы</th>
                <th>Ключевые слова</th>
                <th>Общий доступ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <th class="w-4">{{ theme.theme_id }}</th>
                    <td>{{ theme.theme_name }}</td>
                    <td class="">
                        <div class="whitespace-normal">
                            {{ theme.theme_description }}
                        </div>
                    </td>
                    <td class="w-6">
                        {% if theme.is_public %}
                            <svg class="fill-gray-400 w-6" clip-rule="evenodd" fill-rule="evenodd"
                                 stroke-linejoin="round" stroke-miterlimit="2"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="m11.998 2.005c5.517 0 9.997 4.48 9.997 9.997 0 5.518-4.48 9.998-9.997 9.998-5.518 0-9.998-4.48-9.998-9.998 0-5.517 4.48-9.997 9.998-9.997zm0 1.5c-4.69 0-8.498 3.807-8.498 8.497s3.808 8.498 8.498 8.498 8.497-3.808 8.497-8.498-3.807-8.497-8.497-8.497zm-5.049 8.886 3.851 3.43c.142.128.321.19.499.19.202 0 .405-.081.552-.242l5.953-6.509c.131-.143.196-.323.196-.502 0-.41-.331-.747-.748-.747-.204 0-.405.082-.554.243l-5.453 5.962-3.298-2.938c-.144-.127-.321-.19-.499-.19-.415 0-.748.335-.748.746 0 .205.084.409.249.557z"
                                      fill-rule="nonzero"/>
                            </svg>
                        {% endif %}
                    </td>
                    <td class="w-6">
                        <form method="post" action="{% url 'delete_row' theme.theme_id %}">
                            {% csrf_token %}
                            <button class="w-6" ype="submit">
                                <svg class="fill-red-400" clip-rule="evenodd" fill-rule="evenodd"
                                     stroke-linejoin="round"
                                     stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
                                          fill-rule="nonzero"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

